$gradient: linear-gradient(0deg, rgba(40, 40, 45, 1) 0%, rgba(69, 69, 69, 1) 50%, rgba(40, 40, 45, 1) 100%);
$highlightcolor: #4BB984;

.PageContainer {
    padding-top: 120px;
    background: none;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
    backdrop-filter: blur(5px);
    video {
        width: 100%;
        position: fixed;
        overflow: hidden;
        z-index: -1;
        margin-top: -130px;
        padding-bottom: 130px;
    }
}
.HeadlineScreen {
    height: 740px;
}
.headline {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 80px 0px 0px 70px;
    width: 50%;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

    hr {
        border: 3px solid $highlightcolor;
        margin: 25px 0px 25px 0px;
        border-radius: 30px;
    }
    p {
        font-size: 2rem;
    }
    p, a {
        text-align: center;
    }
}

.ctaButton {
    width: 50%;
    margin-top: 40px;
    
    padding: 10px 10px 10px 10px;
    font-size: 3rem;
    background-color: rgba(69, 69, 69, 0.6);
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 10px 22px 16px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    transition: 0.4s ease-out;
}
.ctaButton:hover {
    cursor: pointer;
    box-shadow: 0px 10px 22px 16px rgba(75, 185, 132, 0.3);
    background-color: rgba(69, 69, 69, 1);
    color: rgb(75, 185, 132)
}
.logo {
    display: none;
}
.SponsorScreen {
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
    background-color: rgb(40,40,45);
    
    h3 {
        font-size: 2rem;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    p {
        width: 60%;
        margin: auto;
        text-align: center;
        height: 30%;
        font-size: 1.4rem;
    }
    hr {
        width: 70%;
        border: 3px solid $highlightcolor; border-radius: 30px;
        margin: 20px auto 20px auto
    }
}

.SponsorLogos {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    
    img {
        max-height: 90px;
        max-width: 270px;
    }
}
@media screen and (max-width:796px) {
    body {
        background: rgb(40,40,45);
        background: $gradient;
    }
    .PageContainer {
        background-image: none;
        video {
            display: none;
        }
    }
    .PageContainer div {
        background-color: transparent;
    }
    .ctaButton {
        width: 90%;
        margin-bottom: 45px;
    }
    .logo {
        display: block;
        height: 250px;
        width: 250px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .HeadlineScreen {
        margin-top: -140px;
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 3rem;
    }
    .headline {
        width: 90%;
        margin:0;

        p {
            text-align: center;
            font-size:1.5rem;
            line-height: 2.3rem;
        }
    }

    .ctaButton {

        font-size: 2rem;
    }
    .SponsorLogos {
        flex-wrap: wrap;
        img {
            margin: 15px 0px 15px 0px;
        }
        span {
            flex-basis: 40%;
        }
    }

    .SponsorScreen {
        margin-top: 90px;
        height: auto;
        padding: 30px 0px 50px 0px;
        background-color: transparent;
    }
}
