
$hatterszin: rgba(69, 69, 69, 1);
$szovegszin: white;
$altszin: rgb(82, 82, 253);
$mainfont: Verdana, Geneva, Tahoma, sans-serif;


nav {
    background-color: $hatterszin;
    z-index: 99999;

    .NavLinks {
        display: flex;
        align-items: center;
        justify-content: center;

        li a{
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
        }
    }
}
* {
    font-family: $mainfont
}

.UpperContainer {
    width: 100%;
    height: 120px;
    position: fixed;
    box-shadow: 0px 10px 16px 7px rgba(0,0,0,0.3);

    .NavLinks {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;

        a {
            font-size: 2rem;
        }
    }
    .LogoCont {
        position: absolute;
        flex-basis: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 100%;
        width: 15%;
        height: 100%;
        left: 0;
        margin-left: 40px;

        a, h3 {
            color: white;
            text-align: center;
            font-size: 30px;
        }
        img {
            height: 150px;
        }
    }
}
.SideContainer {
    width: 40%;
    height: 100vh;
    position: fixed;
    right: 0;
    background: rgb(40,40,45);
    background: linear-gradient(0deg, rgba(40,40,45,1) 0%, rgba(69,69,69,1) 100%);

    .NavLinks {
        display: flex;
        height: 70vh;
        flex-direction: column;
        list-style: none;
        align-items:center;
        justify-content: space-evenly;
    }
    .LogoCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 92%;
        }
        a, h3 {
            width: 100%;
            text-align: center;
            color: white;
            padding-top: 30px;
            padding-bottom: 10px;
            text-align: center;
            font-size: 1.5rem;
        }
            
    }
}
#nlink hr {
    margin: auto;
    visibility: hidden;
    width: 0px;
    border: 5px solid $szovegszin;
    border-radius: 40px;
    transition: 0.4s ease-in-out;
}

#nlink:hover {
    color: $altszin;
    transition: 0.4s ease-in-out;
}
#nlink:hover hr {
        visibility: visible;
        border: 5px solid $altszin;
        border-radius: 40px;
        width: 80%;
}

#sideActive {
    right: 0;
    transition: 0.4s ease-out;
}
#sideInactive {
    right: -40%;
    transition: 0.4s ease-in;
}
.SidebarToggler {
    position: fixed;
    font-size: 3rem;
    width: 60px;
    height: 60px;
    background-color: $hatterszin;
    border-radius: 14px;
    margin: 25px 15px;
    z-index: 9999;
    right: 0;
    transition: 0.4s ease-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    color: $szovegszin;
    opacity: 70%;
}

#togglerActive {
    opacity: 100%;
    right: 40%;
    margin: 25px -3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
@media screen and (max-width: 769px) {
    .UpperContainer {
        display: none;
    }
    .SideContainer {
        display: inherit;
        box-shadow: -17px 0px 15px -3px rgba(0,0,0,0.1);
    }
}
@media screen and (min-width: 769px) {
    .UpperContainer {
        display: block;
    }
    .SideContainer {
        display: none;
    }
    .SidebarToggler {
        display: none;
    }
}
