$gradient: linear-gradient(0deg, rgba(40, 40, 45, 1) 0%, rgba(69, 69, 69, 1) 50%, rgba(40, 40, 45, 1) 100%);
$highlightcolor: #4BB984;

.AboutContainer {
    .logo {
        display: none;
    }
    background: $gradient;
    overflow-x: hidden;
    color: white;
    text-align: center;
    background-image: url('./workshop.png') !important;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .PlaviBarnus {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        margin: auto auto 40px auto;
        align-items: center;
        justify-content: center;
        padding-top: 160px;
        .textBlock {
            flex-basis: 56%;

            h1 {
                font-size: 86px;
                letter-spacing: 3px;

            }

            hr {
                border: 3.5px solid $highlightcolor;
                border-radius: 10px;
                margin: 15px auto 15px auto;
                width: 95%;
            }

            p {
                font-size: 28px;
                width: 85%;
                text-align: center;
                margin: auto;
            }
        }

        .BarnusScreen {
            flex-basis: 49%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                div {
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;
                }
            }

            .barnusImg {
                margin-top: -50px;
                height: 560px;

                img {
                    height: 100%;
                    filter: drop-shadow(0px 10px 15px rgba(255, 255, 255, 0.6));
                }
            }

            .ceoDiv {
                height: 6px;
                width: 100%;
                margin: 0px 15px 0px 15px;
            }

            .ceoHr {
                width: 100%;
                border-radius: 10px;
                border: 3.5px solid $highlightcolor;
            }

            h3 {
                font-size: 36px;
                margin-bottom: 15px;
            }

            p {
                font-size: 20px;
                text-align: center;
            }
        }
    }

    .TimelineContainer {
        width: 100%;
        padding-bottom: 90px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        h1 {
            margin: 25px 0px 55px 0px;
            font-size: 48px;
            letter-spacing: 2.2px;
        }
        .Timeline {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            span {
                font-size: 90px;
                color: $highlightcolor;
            }
            div {
                padding: 10px 10px 10px 10px;
                background: none !important;
                margin-left: 25px;
                div {

                    border-radius: 20px;
                    width: 100%;
                }
                img {
                    width: 150%;
                    margin-left: -25%;
                }
                h3 {
                    font-size: 36px;
                }
                hr {
                    border: 2.5px solid $highlightcolor; border-radius: 20px;
                    margin: 30px auto 30px auto;
                    width: 90%;
                }
                p {
                    text-align: center;
                    margin-top: 15px;
                    font-size: 24px;
                }

            }
            .timelineHr {
                width: 90%;
                margin: auto;
                border: 15px solid $highlightcolor; border-radius: 20px;
            }
        }
    }
}

@media screen and (max-width: 796px) {
    .AboutContainer {
        background: $gradient !important;
        .logo {
            display: block;
            margin: auto;
        }
        .PlaviBarnus {
            width: 100%;
            margin-top: -100px !important;
            .textBlock {
                flex-basis: 90%;
                h1 {
                    font-size: 40px;
                    width: 100%;
                }
                p {
                    width: 100%;
                }
            }
            .BarnusScreen {
                display: none;
            }
        }
        .TimelineContainer {
            padding-bottom: 100px;
            .timelineSeparator {
                padding: 100px 0px 20px 0px;
            }
            .Timeline {
                flex-direction: column;
                align-items: center;
                .ElementContainer {
                    h3 {
                        font-size: 40px;
                        margin-bottom: 0;
                    }
                    p {
                        width: 90%;
                        font-size: 20px;
                    }
                    .IconContainer svg {
                        font-size: 72px;
                    }
                }

            }
        }
    }
}
